@font-face {
    font-family: digital;
    src: url(fonts/digital-7.ttf);
}

.calculator-body {
    height: calc(100vh * .80);
    width: calc(100vh * .55);
    background-color: gray;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 30px 25px;
    gap: 4%;
    align-items: stretch;
    border-radius: 30px;
    border-top: solid rgb(67, 67, 67) 10px;
}

.screen-container {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    background-color: rgb(1 38 52);
    padding: 0px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-color: white;
    border-style: inset;
    border-width: 10px;
    text-overflow: clip;
}

.screen {
    font-size: calc(100vh/10);
    color: rgb(0, 255, 21);
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    font-family: digital;
}

.button-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 4%;
    border: 4px inset;
    padding: 2%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(106, 106, 106);
}

.operand {
    background-color: orange;
}

.special-button {
    background-color: rgb(0, 183, 255);
}

.button-row {
    flex: 1;
    display: flex;
    gap: 4%;
}

button {
    flex: 1;
    border-radius: 15px;
    border: 3px outset;
    font-size: calc(100vh/16);
    color: rgba(0, 0, 0, 0.81);
}

.operand:hover {
    background-color: rgb(238, 147, 0);
}

.special-button:hover {
    background-color: rgb(0, 159, 222);
}

button:hover {
    background-color: rgb(213, 213, 213);
}

button:active {
    border: 3px inset;
}


